{% extends "layout.html" %}
{% block body %}
<h3>Top actionable items for  {{ provider_name }} to improve {{ readmin_rate }} </h3>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

 <table>
    <tr>
        <td>{{ improvement_script|indent(4)|safe }}
{{ improvement_div|safe }}</div></td>
        <td>
        	<form action="/returns_predictors">
				<select name="feature_name">
					{% for feature in feature_names %}
						{% if feature == current_feature_name %}
							<option selected value="{{ feature }}">{{ feature }}</option> 
						{% else %} 
							<option value="{{ feature }}">{{ feature }}</option> 
						{% endif %}
					{% endfor %}
				</select>
				<input type="submit">
			</form>
        	{{ hist_script|indent(4)|safe }}
			{{ hist_div|safe }}</td>
    </tr>
 <table>

{% endblock %}
